<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mtgpeertrader_testEntities" connectionString="metadata=res://*/Cards.csdl|res://*/Cards.ssdl|res://*/Cards.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.133;User Id=aaron;password=Fenja5136;Persist Security Info=True;database=mtgpeertrader_test&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>